.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.BottomNavigationRender {
  width: 100%;
  height: 90%;
  position: relative;
}

.BottomNavigationBar {
  width: 100%;
  height: 20%;
  position: relative;
}